services:
  runner-router:
    build:
      context: .
      dockerfile: Dockerfile.router
    image: byoc-runner-router:latest
    container_name: byoc-stream-runner-router
    environment:
      - "RUNNERS=${RUNNERS}"
      - "ROUTER_PORT=${ROUTER_PORT}"
      - "ORCH_URL=https://${ORCH_SERVICE_ADDR}"
      - "ORCH_SECRET=${ORCH_SECRET}"
      - "CAPABILITY_NAME=${CAPABILITY_NAME}"
      - "CAPABILITY_DESCRIPTION=${CAPABILITY_DESCRIPTION}"
      - "CAPABILITY_URL=${CAPABILITY_URL}"
      - "CAPABILITY_PRICE_PER_UNIT=${CAPABILITY_PRICE_PER_UNIT}"
      - "CAPABILITY_PRICE_SCALING=${CAPABILITY_PRICE_SCALING}"
      - "CAPABILITY_CAPACITY=${CAPABILITY_CAPACITY}"
    ports:
      - ${ROUTER_PORT}:${ROUTER_PORT}

networks:
  default: 
    name: byoc-runners
    external: true
